<!DOCTYPE html>
<html>
<head>
  <title>GoalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:errors] %>

<% if logged_in? %>
  Logged in as: <%= current_user.email %>
  <br><%= button_to "Sign Out", session_url, method: :delete %>
<% else %>
  <br><%= link_to "Sign In", new_session_url %>
  <br><%= link_to "Sign Up", new_user_url %>
<% end %>
<center>
<%= yield %>
</center>
</body>
</html>
